.conteiner {

  height: 100vh;

  display: grid;

  grid-gap: 1%;

  grid-template-areas: "header header header"

                        "hero main main"

                        "hero main main"

                        "hero main main"

                        "sidebar main main"

                        "sidebar main main"

                        "sidebar extra extra"

                        "sidebar extra extra"

                        "related related prelated"

                        "related related prelated"

                        "footer footer footer"

}

.header {

  grid-area: header;

  background-color: blue;

}

.hero {

  grid-area: hero;background-color: brown;

}

.main {

  grid-area: main;

  background-color: darkgoldenrod;

}
.sidebar{
  grid-area: sidebar;

  background-color: rgb(46, 34, 4);
}
.extra{
       grid-area: extra;

       background-color: rgb(102, 56, 228);
}
.related{
       grid-area: related;

       background-color: rgb(233, 194, 97);
}
.prelated{
  grid-area: prelated;

  background-color: darkgoldenrod;
}
.footer{
  grid-area: footer;

  background-color: rgb(119, 7, 7);
}